<nav class="navbar navbar-expand-lg navbar-light bg-white container p-2">
    <a class="navbar-brand" href="#">Food-App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse offset-2" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Menu </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Burger</a>
            </li>

        </ul>
        <div routerLink="/cart">
            <button class="btn btn-light">
                <i class="fas fa-shopping-cart"></i>
            </button>
            <span class="badge badge-notification bg-black">{{totalItem}}</span>
        </div>
    </div>
</nav>